:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --side-width: 200px;
  --default-spacing: 0.5rem;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  display: grid;
  grid-template-columns: var(--side-width) minmax(0, 1fr) var(--side-width);
}

main {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--default-spacing);
  width: min(960px, 100%);
  margin: 0 auto;
}

.sidebar-left, .sidebar-right {
  position: sticky;
  top: 0;
  width: var(--side-width);
  padding: var(--default-spacing);
  height: 100vh;
  display: grid;
  place-content: center;
  align-self: start;
}

.sidebar-left { grid-column: 1; }
.sidebar-right { grid-column: 3;}

.widget {
  text-align: center;;
}

.widget header {
  font-weight: bold;
}

#siteNav ul {
  list-style: none;
  padding-left: 0;
}

#siteNav .sub-nav {
  padding-left: 1rem;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
